# Dependências
node_modules/

# Ambiente
.env
.env.local
.env.development
.env.production
.env.test

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build
dist/
build/
.next/
out/

# Sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
